{% extends 'base.html.twig' %}

{% block title %}Persons index{% endblock %}

{% block body %}

<h1>Manage Comments ({{ pagination.getTotalItemCount }})</h1>

    <h1>Lista użytkowników</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Email</th>
                <th>Oczekiwany koszt wycieczki</th>
                <th>Rodzaj podróży</th>
                <th>Opis</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for person in pagination %}
            <tr>
                <td>{{ person.firstName }}</td>
                <td>{{ person.lastName }}</td>
                <td>{{ person.email }}</td>
                <td>{{ person.expectedCost(true) }}</td>
                <td>{{ person.travelType(true) }}</td>
                <td>{{ person.comments }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default">Left</button>
                        <button type="button" class="btn btn-default">Middle</button>
                        <button type="button" class="btn btn-default">Right</button>
                    </div>
                    <a href="{{ path('persons_show', {'id': person.id}) }}">Pokaż</a>
                    <a href="{{ path('persons_edit', {'id': person.id}) }}">Edytuj</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}
    <a class="btn btn-success" role="button" href="{{ path('persons_new') }}">Dodaj kandydata</a>
{% endblock %}
